* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 16px;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    margin-left: 10px; 
}
.navbar .searchbar {
    display: flex;
}

.search{
    display: flex;

    border: 1px solid hsl(0,0%,18.82%);
    border-radius: 20px;
    width: 632px;
    height: 40px; 
    margin-right: 10px;
}
 
.search input {
    border: none;
    outline: none;
    width: 90%;
}

#search-input::placeholder {
    color: hsl(0,0%,18.82%);
    font-size: 14px;
    text-align: center;
}

.search button {
    background: none;
    border: none;
    border-left: 2px solid hsl(0,0%,18.82%);
    cursor: pointer;
    padding: 5px;
    width: 10%;
}

.search button i {
    margin: 0;
}

.material-icons {
    color: #606060;
    margin-right: 10px;
}

.mainbody {
    height: calc(100vh - 56px);
    display: flex;
}

.categories {
    width: 240px;
    height: 100%;
    background: white;
}
.category {
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 24px;
    font-size: 14px;
    cursor: pointer;
}

.videos {
    width: calc(100vw - 240px);
    height: 100%;
    background: #f9f9f9;
    border-top: 1px solid #cccccc;
}